.footer {
    background-color: $black-secondary;
    width: 100%;
    
    
    &__list {
        @extend .container;
        @include list-unstyled();
        @include clearfix();
        
        color: $gray;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            display: inline;
        }
        
        > li {
            font-size: $font-size-lg;
            padding: 0 2rem 2rem 2rem;

            @include make-col-ready();
            @include make-col(6);
            @include media-breakpoint-up(md) {
                @include make-col(3);
            }

            @include media-breakpoint-down(xl) {
                font-size: $font-size-lg - .1rem;
            }
            @include media-breakpoint-down(lg) {
                font-size: $font-size-lg - .2rem;
            }

            h4 {
                @include media-breakpoint-up(sm) {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
                @include media-breakpoint-down(xl) {
                    font-size: $font-size-h4 - .1rem;
                }
                @include media-breakpoint-down(lg) {
                    font-size: $font-size-h4 - .2rem;
                }
                @include media-breakpoint-down(xs) {
                    font-size: $font-size-h4 - .5rem;
                }
            }

            a {
                text-decoration: none;
                color: whitesmoke;
            }

            ul {
                margin-bottom: 0rem;
                padding-top: 1rem;
                @include media-breakpoint-down(xs) {
                    padding-bottom: 1rem;
                }
                @include list-unstyled();
            }
        }
    }
    
    &__logo {
        display: block;
        img {
            @extend .img-fluid;
            
            padding: $layout-footer-logo-padding;

            @include media-breakpoint-down(xl) {
                padding: $layout-footer-logo-padding - 1rem;
            }

            @include media-breakpoint-down(lg) {
                padding: $layout-footer-logo-padding - 2rem;
            }
        }
    }
    
    &__wikitolearn, &__tools{
        hr{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .footer__second-heading{
            padding: 0;
            margin: 0;
            margin-top: 1rem;
            padding-top: 1rem;

            margin-bottom: 0.5rem;
            border-bottom: none;
            border-top: 1px solid #333;
        }

        .footer__second-list{
            padding-top: 0;
        }
    }

    &__wikitolearn {
        h4 {
            border-bottom: 0.1rem solid $red;
        }
    }
    
    &__tools {
        h4 {
            border-bottom: 0.1rem solid $yellow;
        }
    }

    &__wikitolearn-list, &__tools-list {
        li {
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;

            @include media-breakpoint-down(xs) {
                font-size: .7rem;
            }
        }
    }

    &__social {
        h4 {
            border-bottom: 0.1rem solid $green;
            //color: $green;
        }

        ul {
            @include media-breakpoint-down(xs) {
                font-size: .7rem;
            }
        }

        .social-icons {
            @include make-row();
            
            li {
                @include list-inline();
                @include make-col-ready();
                @include make-col(3);
                text-align: center;
                padding: 0;
            }
        }
    }
}
