.footer {
    background-color: $black-secondary;
    width: 100%;

    .content {
        color: $gray;
 
        @extend .container;

        & div {
            font-size: 1.2rem;
            padding: 0 2rem 2rem 2rem;

            @include make-col-ready(xl);
            @include make-col(6);
            @include media-breakpoint-up(md) {
                @include make-col(3);
            }

            h4 {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

            a {
                text-decoration: none;
                color: whitesmoke;
            }

            ul {
                margin-bottom: 0rem;
                padding-top: 1rem;
                @include list-unstyled();
            }
        }

        .logo {
            img {
                padding: 5rem;
                @extend .img-fluid;
            }
        }

        .contacts {
            h4 {
                //color: $red;
                border-bottom: 0.1rem solid $red;
            }

            .contacts-list {
                li {
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                }
            }
        }

        .learn-more {
            h4 {
                //color: $yellow;
                border-bottom: 0.1rem solid $yellow;
            }

            a {
                &:not(:last-child) {
                    padding-right: 1rem;
                }
            }
        }

        .social {
            h4 {
                border-bottom: 0.1rem solid $green;
                //color: $green;
            }

            .social-icons {
                li {
                    @include list-inline();
                    @include make-col-ready(xs);
                    @include make-col(3);
                }
            }
        }
    }

    .last-modified {
        color: whitesmoke;
        
        ul {
            @include list-unstyled();
            
            &.info {
                text-align: center;
            }

            &.places {
                margin-bottom: 0;
                text-align: center;
                li {
                    @include list-inline();
                }
            }
        }
    }
}