.footer {
    background-color: $black-secondary;
    width: 100%;
    
    
    &__list {
        @extend .container;
        @include list-unstyled();
        
        color: $gray;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            display: inline;
        }
        
        > li {
            font-size: $font-size-lg;
            padding: 0 2rem 2rem 2rem;

            @include make-col-ready();
            @include make-col(6);
            @include media-breakpoint-up(md) {
                @include make-col(3);
            }

            @include media-breakpoint-down(xl) {
                font-size: $font-size-lg - .1rem;
            }
            @include media-breakpoint-down(lg) {
                font-size: $font-size-lg - .2rem;
            }

            h4 {
                padding-top: 2rem;
                padding-bottom: 2rem;
                @include media-breakpoint-down(xl) {
                    font-size: $font-size-h4 - .1rem;
                }
                @include media-breakpoint-down(lg) {
                    font-size: $font-size-h4 - .2rem;
                }
            }

            a {
                text-decoration: none;
                color: whitesmoke;
            }

            ul {
                margin-bottom: 0rem;
                padding-top: 1rem;
                @include list-unstyled();
            }
        }
    }

    &__logo {
        display: block;
        img {
            @extend .img-fluid;
            
            padding: $layout-footer-logo-padding;

            @include media-breakpoint-down(xl) {
                padding: $layout-footer-logo-padding - 1rem;
            }

            @include media-breakpoint-down(lg) {
                padding: $layout-footer-logo-padding - 2rem;
            }
        }
    }

    &__contacts {
        h4 {
            //color: $red;
            border-bottom: 0.1rem solid $red;
        }
    }

    &__contacts-list {
        li {
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
    }

    &__learn-more {

        .learn-more__second-heading{
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @include media-breakpoint-between(xs, sm) {
            clear: both;
        }
    }

    &__social {
        h4 {
            border-bottom: 0.1rem solid $green;
            //color: $green;
        }

        .social-icons {
            overflow: auto;

            li {
                @include list-inline();
                @include make-col-ready();
                @include make-col(4);
            }
        }
    }

    .learn-more {
        &__first-heading {
            //color: $yellow;
            border-bottom: 0.1rem solid $yellow;
        }
    }

    .last-modified {
        color: whitesmoke;
        
        ul {
            @include list-unstyled();
        }

        &__info {
            text-align: center;
        }

        &__places {
            margin-bottom: 0;
            text-align: center;
            li {
                @include list-inline();
            }
        }
    }
}
