.header {
    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
    line-height: 2.9rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &__wrapper{

        width: 100%;
        display: flex;
        max-width: 100%;

        @include media-breakpoint-up(md) {
            @include make-container();
            @include make-container-max-widths();
        }

        @include media-breakpoint-between(sm, md) {
            width: 90%;
            margin: 0 auto;
        }

        .logo{
            flex: 1;
            padding: 0;

            /*@include make-col-ready();
            @include make-col(4);

            @include media-breakpoint-down(xs) {
                display: none;
            }

            @include media-breakpoint-up(md) {
                @include make-col(6);
            }*/

            a{
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }

            &__img{
                height: 2.5rem;
                margin-right: 0.25rem;
                vertical-align: middle;

                @include media-breakpoint-down(sm) {
                    height: 1.5rem;
                }

                @include media-breakpoint-between(md, lg) {
                    height: 2rem;
                }
            }

            &__title{
                display: inline-block;
                font-size: 2.5em;
                font-family: "DinC";
                vertical-align: middle;

                @include media-breakpoint-down(md) {
                    font-size: 1.1rem;
                }

                @include media-breakpoint-between(md, lg) {
                    font-size: 1.8rem;
                }
            }
        }

        .nav {
            flex: 1;

            color: $black;
            display: table-cell;
            float:none;
            padding: 0;
            text-align: right;

            //@include make-col-ready($gutter: 0);
            //@include make-col(12);

            /*@include media-breakpoint-up(sm) {
                @include make-col-ready();
            }

            @include media-breakpoint-between(sm, md) {
                @include make-col(8);
            }

            @include media-breakpoint-up(md) {
                @include make-col(6);
            }*/

            &:after{
                @include clearfix();
            }

            &__link {
                color: $black;
                display: inline-block;
                font-size: 1.2rem;
                font-weight: lighter;
                height: 100%;
                padding: 0 0.2rem;
                text-align: center;
                vertical-align: middle;

                &:hover, &:focus{
                    text-decoration: none;
                }

                @include media-breakpoint-between(sm, md) {
                    font-size: 0.8rem;
                }

                @include media-breakpoint-between(md, lg) {
                    font-size: 1rem;
                }

                @include media-breakpoint-down(xs) {
                    display: none;
                }

                &--hamburger {
                    @include media-breakpoint-down(sm) {
                        display: block;
                        color: $black;
                        text-align: center;
                        text-decoration: none;

                        span {
                            display: none;
                        }
                    }

                    @include media-breakpoint-up(sm) {
                        i {
                            display: none;
                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    &--hover-green {
                        @include animate-bottom-border($green)
                    }

                    &--hover-yellow {
                        @include animate-bottom-border($yellow);
                    }

                    &--hover-red {
                        @include animate-bottom-border($red);
                    }

                    &--hover-dark-green {
                        @include animate-bottom-border($dark-green);
                    }

                    &--hover-mwblue {
                        @include animate-bottom-border($mwblue);
                    }

                }
            }

            &__search {

                @include media-breakpoint-down(xs) {
                    display: inline-block;
                    @include make-col-ready();
                    @include make-col(8);
                    @include make-col-push(2);
                }

                form {
                    display: inline;
                }

                #searchInput {
                    border-bottom: 0.2rem solid $dark-green;
                    border: none;
                    outline: none;
                    padding: 0;

                    @include media-breakpoint-down(xs) {
                        @include make-col-ready();
                        @include make-col(10);
                    }

                    @include media-breakpoint-up(sm) {
                        width: 0;
                    }
                    // Reduce the level of indentation here
                    &.expanded-search {
                        transition: width 0.6s ease;
                        width: 20%;
                    }

                    &.collapsed-search {
                        transition: width 0.6s ease-out;
                        width: 0%;
                    }
                }

                &-button {
                    border: none;
                    background-color: transparent;

                    @include media-breakpoint-down(xs) {
                        @include make-col-ready();
                        @include make-col(2);
                    }
                }
            }

           .separator{
               border-left: 1px solid gray;
               color: gray;
            }

            // Until we implement our bootstrap free version of dropdown
            // this has to keep the bootstrap class naming conventions.
            .dropdown {
                display: inline-block;
                padding: 0 0.2rem;

                @include media-breakpoint-down(xs) {
                    text-align: center;

                    @include make-col-ready();
                    @include make-col(2);
                }

                &--personal-tools {
                    @include media-breakpoint-down(xs) {
                        @include make-col-ready();
                        @include make-col(2);
                        @include make-col-pull(8);
                    }

                    .dropdown-menu{
                        line-height: 1.75rem;

                        @include media-breakpoint-down(xs) {
                            width: 100vw;
                            top: 44.6px;
                            left: 0;
                        }
                    }

                    .dropdown-item a{
                        display: block;
                        text-transform: capitalize;
                    }
                }

                &--notifications {

                    [class^="ve-"], [class^="oo-"], [class^="mw-"]{
                        box-sizing: border-box;
                    }

                    cursor: pointer;
                    .dropdown-menu {
                        border-right: 1rem;
                        border: 1px solid rgba(0,0,0,0.15);
                        left: inherit;
                        margin-top: 0;
                        min-width: 28rem;
                        overflow-y: auto;
                        padding: 0;
                        right: 0;
                        top: 3.2rem;

                        @include media-breakpoint-down(xs) {
                            top: 44.6px; //TODO: change in rem
                            width: 100vw;
                        }

                        /*// To be changed using autoprefixer
                        &::-webkit-scrollbar {
                          width: 0.2rem;
                        }

                        &::-webkit-scrollbar {
                          width: 0.2rem;
                        }

                        &::-webkit-scrollbar-track {
                          background-color:$lighter-green;
                          border-radius: 0.2rem;
                        }

                        &::-webkit-scrollbar-thumb {
                          border-radius: 0.2rem;
                          background-color: $dark-green;
                        }*/
                    }

                    &__mark-read-notifications{
                        float: right;
                    }

                    .dropdown-item {
                        cursor: pointer;
                        display: table;
                        padding: 0.75rem 0.5rem;

                        &:hover {
                            background-color: $lighter-green;
                        }

                        &::before {
                            border-bottom-color: $dark-green;
                            border-bottom: 0.45rem solid #CCC;
                            border-left: 0.45rem solid transparent;
                            border-right: 0.45rem solid transparent;
                            content: '';
                            display: inline-block;
                            position: absolute;
                            right: 0.55rem;
                            top: -0.45rem;
                        }

                        &::after {
                            border-bottom: 0.4rem solid white;
                            border-left: 0.4rem solid transparent;
                            border-right: 0.4rem solid transparent;
                            content: '';
                            display: inline-block;
                            position: absolute;
                            right: 0.6rem;
                            top: -0.4rem;
                        }

                        .notifications-icon {
                            display: table-cell;
                            padding: 0rem 0.5rem;
                        }

                        .notifications-content {
                            display: table-cell;
                        }

                        .notifications-title {
                            margin-bottom: 0;
                        }

                        .notifications-message {
                            @extend .text-muted;

                            margin-bottom: 0;
                        }

                        .notifications-details {
                            span {
                                font-size: 0.8rem;
                            }
                        }

                        .notifications-check:hover {
                            color: $green;
                            .fa-check:hover {
                                font-size: 1.3rem;
                            }
                        }
                    }

                    .dropdown-footer {
                        border-top: 0.1rem solid $mwblue;
                        padding: 0.5rem;
                        text-align: center;
                    }

                    .dropdown-divider {
                        margin: 0;
                    }
                }

                &--languages {
                    
                    
                    cursor: pointer;
                    height: 100%;
                        
                    @include media-breakpoint-down(xs) {
                        @include make-col-ready();
                        @include make-col(2);
                        @include make-col-pull(8);
                    }
                    
                    .dropdown-menu{
                        line-height: 1.75rem;

                        @include media-breakpoint-down(xs) {
                            width: 100vw;
                            top: 44.6px;
                            left: 0;
                        }
                    }

                    .dropdown-item a{
                        display: block;
                        text-transform: capitalize;
                    }
                }
            }

            // Extension of the Mediawiki Echo classes
            #notifications-widget {
                .mw-echo-ui-overlay {
                    position: relative;
                    top: -.3rem;
                }
            }
        }
    }
}
