header {

    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;


    background-color: white;

    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;

    line-height: 2.9rem;
    #header-wrapper{

        @extend .container;

        @include media-breakpoint-down(md) {
            width: 90%;
        }

        width: 100%;

        .logo{

            @include make-col-ready(xl);
            @include make-col(6);

            padding: 0;
            a{
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }

            #logo-img{
                height: 2.5rem;
                margin-right: 0.25rem;
                vertical-align: middle;
            }

            #logo-title{
                display: inline-block;
                height: 100%;

                font-size: 2.5em;

                vertical-align: middle;

                font-family: "DinC";
            }
        }

        nav {
            display: table-cell;
            float:none;
            color: $black;
            text-align: right;

            @include make-col-ready(xl);
            @include make-col(6);

            padding: 0;
            a {
                padding: 0 0.2rem;
                text-align: center;
                height: 100%;
                color: #333;
                font-weight: lighter;
                font-size: 1.2rem;
                display: inline-block;
                vertical-align: middle;

                vertical-align: middle;
                &:hover{
                    text-decoration: none;
                }

                &.hover-green {
                    @include animate-bottom-border($green)
                }

                &.hover-yellow {
                    @include animate-bottom-border($yellow);
                }

                &.hover-red {
                    @include animate-bottom-border($red);
                }

                &.hover-dark-green {
                    @include animate-bottom-border($dark-green);
                }
            }

           .separator{
               color: gray;
               border-left: 1px solid gray;
           }

            &:after{
                @include clearfix();
            }

            .dropdown {
                display: inline-block;
            }

            .dropdown-menu {
                padding: 0;
                left: inherit;
                right: 0;
                border-right: 1rem;
                top: 3.2rem;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                margin-top: 0;
                border: 1px solid $dark-green;
                max-height: 28rem;
                overflow-y: auto;

                &::-webkit-scrollbar {
                  width: 0.2rem;
                }

                &::-webkit-scrollbar {
                  width: 0.2rem;
                }

                &::-webkit-scrollbar-track {
                  background-color:$lighter-green;
                  border-radius: 0.2rem;
                }

                &::-webkit-scrollbar-thumb {
                  border-radius: 0.2rem;
                  background-color: $dark-green;
                }
            }

            .dropdown-item {
                padding: 0.75rem 0.5rem;
                cursor: pointer;
                display: table;

                &:hover {
                    background-color: $lighter-green;
                }

                .notifications-icon {
                    display: table-cell;
                    padding: 0rem 0.5rem;
                }

                .notifications-content {
                    display: table-cell;
                }

                .notifications-title {
                    margin-bottom: 0;
                }

                .notifications-message {
                    @extend .text-muted;
                    margin-bottom: 0;
                }

                .notifications-details {
                    span {
                        font-size: 0.8rem;
                    }
                }

                .notifications-check:hover {
                    color: $green;
                    .fa-check:hover {
                        font-size: 1.3rem;
                    }
                }

                &::before {
                    position: absolute;
                      top: -0.45rem;
                      right: 0.55rem;
                      display: inline-block;
                      border-right: 0.45rem solid transparent;
                      border-bottom: 0.45rem solid #CCC;
                      border-left: 0.45rem solid transparent;
                      border-bottom-color: $dark-green;
                      content: '';
                }

                &::after {
                    position: absolute;
                      top: -0.4rem;
                      right: 0.6rem;
                      display: inline-block;
                      border-right: 0.4rem solid transparent;
                      border-bottom: 0.4rem solid white;
                      border-left: 0.4rem solid transparent;
                      content: '';
                }
            }

            .dropdown-footer {
                padding: 0.5rem;
                border-top: 0.1rem solid $dark-green;
                text-align: center;
                background-color: $lighter-green;
            }

            .dropdown-divider {
                margin: 0;
            }

            .search-box {
                form {
                    display: inline;
                }

                #search {
                    padding: 0;
                    border: none;
                    width: 0;
                    border-bottom: 0.2rem solid $dark-green;
                    outline: none;

                    &.expanded-search {
                        transition: width 0.6s ease;
                        width: 20%;
                    }

                    &.collapsed-search {
                        transition: width 0.6s ease-out;
                        width: 0%;
                    }
                }

                button {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
}
