#page{

}

.container-departments {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .departments {
        @extend .container;

        .department {
            @include make-col-ready(sm);
            @include make-col(3);
            text-align: center;
            margin: 0.5rem 0;

            img {
                height: 100%;
                width: 100%;
                border-radius: $border-radius;
                border: .2rem solid $lighter-green;
            }
        }
    }
}

#join-us {
    display: table;
    width: 100%;
    text-align: center;
    height: 16rem;
    background: url('/');

    .join-us-button {
        display: table-cell;
        vertical-align: middle;

        .join-us-link {
            padding: 1.5rem 5rem;
            border-radius: $border-radius;
            background-color: $green;
            text-decoration: none;
            color: white;
            font-size: $font-size-h4;
        }
    }
}

.landing-title {
    padding-top: 3rem;
    text-align: center;

    h1 {
        line-height: 10rem;
        margin-bottom: 0;
        font-family: 'Aleo', sans-serif;
        font-weight: lighter;
    }
}

.wikitolearn-divider {
    @extend .container;
    border: 0;
    height: .2rem;
    background: -moz-linear-gradient(left, $dark-red 0%, $red 20%, $yellow 40%, $green 60%, $dark-green 80%);
}

.videos {
    @extend .container;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .video {
        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
        text-align: center;
        
        iframe {
            width: 100%;
        }
    }
}

.testimonials {
    @extend .container;
    padding-top: 5rem;
    text-align: center;

    .testimonial {
        margin-top: 0;
        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }
        @extend .media;

        img {
            border-radius: $border-radius;
            width: 5rem;
        }

        .media-body {
            text-align: justify;

            blockquote {
                font-size: 1rem;
                @extend .blockquote;
            }
            footer {
                @extend .blockquote-footer;
            }
        }
    }

    .read-more {
        margin: 5rem auto;
        @extend .btn-outline-green;
    }
}

.sponsors {
    @extend .container;
    padding-top: 5rem;

    .image {
        @include make-col-ready(xl);
        @include make-col(6);
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }

        img {
            @extend .img-fluid;
        }
    }

    .clearfix {
        padding-bottom: 3rem
    }

}
