.page{
    background-color: #f8f8fb;

    &-home{
        padding-top: 3.2rem;

        @include media-breakpoint-down(xs) {
            @include make-container();
        }
    }

    &--article{
        @include media-breakpoint-up(sm) {
            padding: 2rem;
        }
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}

.page{
    &.user--anon{
        .hideAnon{
            display: none;
        }
    }
}