#page{

}

.container-departments {
    padding-bottom: 3rem;

    .departments {
        @extend .container;

        .department {
            @include make-col-ready(sm);
            @include make-col(3);
            text-align: center;
            margin: 0.5rem 0;

            img {
                height: 100%;
                width: 100%;
                border-radius: $border-radius;
                border: .2rem solid $lighter-green;
            }
        }
    }
}

#join-us {
    display: table;
    width: 100%;
    text-align: center;
    height: 16rem;
    background: url('/');

    .join-us-button {
        display: table-cell;
        vertical-align: middle;

        .join-us-link {
            padding: 1.5rem 5rem;
            border-radius: $border-radius;
            background-color: $green;
            text-decoration: none;
            color: white;
            font-size: $font-size-h4;
        }
    }
}

.landing-title {
    padding-top: 3rem;
    text-align: center;

    h1 {
        line-height: 10rem;
        margin-bottom: 0;
        font-family: 'Aleo', sans-serif;
        font-weight: lighter;
    }
}

.videos {
    @extend .container;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .video {
        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
        text-align: center;
        
        iframe {
            width: 100%;
        }
    }
}

.testimonials {
    @extend .container;
    padding-top: 5rem;
    text-align: center;

    .testimonial {
        margin-top: 0;
        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }
        @extend .media;

        img {
            border-radius: $border-radius;
            width: 5rem;
        }

        .media-body {
            text-align: justify;

            blockquote {
                font-size: 1rem;
                @extend .blockquote;
            }
            footer {
                @extend .blockquote-footer;
            }
        }
    }

    .read-more {
        margin: 5rem auto;
        @extend .btn-outline-green;
    }
}

.sponsors {
    @extend .container;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .image {
        @include make-col-ready(xl);
        @include make-col(6);
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }

        img {
            @extend .img-fluid;
        }
    }

    .clearfix {
        padding-bottom: 3rem
    }

}

.footer {
    width: 100%;
    background-color: $gray;
    overflow: auto;
    background-color: $black-secondary;

    .content {
        color: whitesmoke;
        @extend .container;

        & div {
            font-size: 1.2rem;
            h4 {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            padding: 2rem;
            padding-top: 0rem;
            @include make-col-ready(xl);
            @include make-col(6);
            @include media-breakpoint-up(md) {
                @include make-col(3);
            }

            a {
                text-decoration: none;
                color: whitesmoke;
            }

            ul {
                @include list-unstyled();
                padding-top: 1rem;
                margin-bottom: 0rem;
            }

        }

        .logo {
            img {
                padding: 5rem;
                @extend .img-fluid;
            }
        }

        .contacts {
            h4 {
                //color: $red;
                border-bottom: 0.1rem solid $red;
            }
            .contacts-list {
                li {
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                }
            }
        }

        .learn-more {
            h4 {
                //color: $yellow;
                border-bottom: 0.1rem solid $yellow;
            }
            a {
                &:not(:last-child) {
                    padding-right: 1rem;
                }
            }
        }

        .social {
            h4 {
                border-bottom: 0.1rem solid $green;
                //color: $green;
            }
            .social-icons {
                li {
                    @include list-inline();
                    @include make-col-ready(xs);
                    @include make-col(3);
                }
            }
        }
    }

    .last-modified {
        color: whitesmoke;
        ul {
            @include list-unstyled();
            
            &.info {
                text-align: center;
            }

            &.places {
                text-align: center;
                li {
                    @include list-inline();
                }
            }
        }
    }

}