.rating {
    &__content {
        // The rating box use the same style as the article content
        @extend .article__content;

        font-variant-caps: small-caps;
        font-family: 'Open Sans', sans-serif;
        margin-top: .75rem;
        visibility: hidden;
    }

    &__row {
        @include make-row(0px);
        display: flex;
        justify-content: center;
    }

    &__left-content {
        float:left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title-rate {
        align-self: center;
    }

    &__stars {
        // Simple CSS for UX pattern of rating stars :)
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: .5rem;
        min-height: 5rem;
        align-items: center;
        cursor: pointer;

        & > .rating__star:hover:before, .rating__star:hover ~ .rating__star:before {
            content: "\2605";
            position: absolute;
        }
    }

    &__star {
        font-size: $font-size-h1;
        display: inline-block;
        position: relative;
        transition: all .15s ease-in;

        &--colored {
            &:before {
                content: "\2605";
                position: absolute;
            }
        }

        &:hover {
            font-size: 3rem;
        }

        &--one {
            &, &:before {
                color: $dark-red;
            }
        }
        &--two {
            &, &:before {
                color: $red;
            }
        }
        &--three {
            &, &:before {
                color: $yellow;
            }
        }
        &--four {
            &, &:before {
                color: $green;
            }
        }
        &--five {
            &, &:before {
                color: $dark-green;
            }
        }
    }

    &__thank-you {
        background-color: $green;
        color: white;
        padding: 1rem;
        position: relative;
        display: none;
    }

    &__dismiss {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    &__more-stats {
        color: $mwblue;
        text-decoration: none;
        display: inline-block;
        margin-top: 2rem;
        padding: 1rem;
        text-align: center;
        width: 100%;

        &:hover {
            color: white;
            text-decoration: none;
            background-color: $mwblue;
            transition: .3s ease-in color, background-color;
        }
    }

    &__right-content {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }

    &__rank {
        margin-top: .5rem; // needed to fine align percenutal with stars
        text-align: center;
        font-weight: 100;
        font-size: $font-size-h1;

        6--red {
            color: $red;
        }
        &--yellow {
            color: $yellow;
        }
        &--green {
            color: $green;
        }
        &--dark-green {
            color: $dark-green;
        }
    }

    &__badges {
        font-size: 3rem;
    }

    &__trophy {
        // this is needed to fine align the badge with 
        // the percentual value
        font-size: 1.6rem;
        position: relative;
        bottom: 6px;
    }

    &__badge {
        &--one {
            color: lighten($bronze, 50%);
        }
        @at-root #{&}--one#{&}--colored {
            color: $bronze;
        }
        &--two {
            color: lighten($silver, 50%);
        }
        @at-root #{&}--two#{&}--colored {
            color: $silver;
        }
        &--three {
            color: lighten($gold, 50%);
        }
        @at-root #{&}--three#{&}--colored {
            color: $gold;
        }
    }

    &--visible {
        display: block;
        visibility: visible;
        opacity: 1;
        animation: toggle-visible 1s;
    }

    @keyframes toggle-visible {
        0%   { opacity: 0 }
        100% { opacity: 1 }
    }
}
