main.page--article{
    .article{

        &__wrapper{
            @include make-container();
            @include media-breakpoint-up(sm) {
                @include make-container-max-widths();
                padding: 0 3rem;
            }

        }
        
        &__main{
            display: flex;

            @include media-breakpoint-down(xs) {
                display: block;
            }
        }
        
        &__sheet{
            flex-grow: 2; //grow as much as possible
            flex-basis: 100%; //use all space, for real (this is to fix the bug about less than one line content)
            max-width: 100%;
        }
        
        &__content{
            background-color: white;
            box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
            position: relative;
            padding-top: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
            padding-bottom: 4rem;

            @include media-breakpoint-down(xs) {
                padding: 1rem;
            }
        }
        
        &__navigation{
            margin-top: 0.75rem;

            &::after{
                clear: both;
                content: " ";
                display: block;
            }

           .navigation{
                &__button{
                    background-color: white;
                    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
                    padding: 0.5rem 1.5rem;
                    &--previous{
                        float: left;
                    }

                    &--next{
                        float: right;
                    }
                }


           } 
        }

        &__tools{
            flex-grow: 1;

            padding-left: 1rem;
            
            position: relative;
            max-width: 100%;
            @include media-breakpoint-down(xs) {
                padding-left: 0rem;
                padding-top: 0.5rem;
            }

            .tool--divider{
                display: block;
                margin-bottom: 1.5rem;
            }

            .tool{
                $toolSize: 3rem;

                background-color: white;
                border-radius: 50%;
                box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
                cursor: pointer;
                display: block;
                height: $toolSize;
                margin-bottom: 0.5rem;
                position: relative;
                text-align: center;
                width: $toolSize;
                
                @include media-breakpoint-down(xs) {
                    width: 100%;
                    border-radius: 3rem;
                }

                &:hover{
                    text-decoration: none;
                }

                &--smaller{
                    height: $toolSize*0.75;
                    width: $toolSize*0.75;

                    @include media-breakpoint-down(xs) {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }

                @mixin colorTool($color){
                    border: 2px solid $color;
                    color: $color;
                    
                    @include media-breakpoint-down(xs) {
                        border: 1px solid $color;
                    }

                    &--filled{
                        color: white;
                        background-color: $color;
                        border: 0;
                    }

                    &:hover, &.active{
                        color: white;
                        background-color: $color;

                        transition: all .1s linear;
                    }

                    transition: all .1s linear;
                }

                &--green{
                    @include colorTool($green);
                }

                &--yellow{
                    @include colorTool($yellow);
                }

                &--red{
                    @include colorTool($red);
                }

                &--black{
                    @include colorTool($black-secondary);
                }

                &--blue{
                    @include colorTool($mwblue);
                }
                
                &__content{
                    position: absolute;
                    
                    display: inline-block;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &__icon{
                    font-size: 1.25rem;

                    @include media-breakpoint-down(xs) {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                &__title{
                    display: none;
                    @include media-breakpoint-down(xs) {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }

        &__title{
            text-align: center;
            margin-bottom: 1rem;
        }

        

        &__breadcrumb{
            .breadcrumb{

                background-color: white;
                box-shadow: rgba(0,0,0,0.1) 0px 1px 2px;
                display: inline-block;
                padding: 0.25rem 1rem;
                margin: 0;
                text-align: left;
                    
                &__divider{
                    text-align: center;
                    display: inline-block;
                    width: 1.5rem; 
                    margin: 0 0.15rem;
                    color: $black-secondary;
                }

                .breadcrumb__item{
                    &:last-of-type{
                        color: $black;
                        cursor: default;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }

                &__dropdown{
                    text-align: center;
                    .dropdown__toggle{
                        border: 1px solid #eee;
                        border-radius: $border-radius;
                        color: $mwblue;
                        cursor: pointer;
                        display: inline-block;
                        width: 1.5rem; 
                        margin: 0 0.15rem;

                        transition: 0.1s linear all; 
                        &:hover{
                            background-color: #eee;
                            transition: 0.1s linear all; 
                        }
                        .fa{
                            transition: 0.1s linear all; 
                        }
                    }

                    &.open{
                        .dropdown__toggle{
                            background-color: #eee;
                            .fa{
                                transform: rotate(90deg);
                                transition: 0.1s linear all; 
                            }
                        }
                    }

                    display: inline-block;
                }
            }
        }

        &__categories{
            #catlinks{
                text-align: right;
                margin-top: 1rem;
            }
        }
    }
}


.article__text {
    font-size: 13pt;
    line-height: 1.5em;

    @include media-breakpoint-down(xs) {
        font-size: .9rem;
    }
    
    p:empty {
        display: none;
    }

    p:last-of-type{
        margin-bottom: 0;
    }

    h2, h3, h4, h5, h6{
        margin-top: 1rem;
    }   
    
    .center{
        text-align: center;
    }

    ol, ul{
        margin: 0;
        margin-bottom: 1rem;
        padding-left: 2rem;
    }

    img{
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        height: auto;
        max-width: 100%;
        padding: 1rem;
    }

    .mwe-math-fallback-image-display{ //margin at the bottom of formulas
        margin-bottom: 1rem;
    }

    .mw-editsection{ //hide [Edit | Edit Wikitext]
        display: none;
    }
    
    .reference{
        a{
            display: inline-block;
            padding-top: 4rem;
            margin-top: -4rem;
        }
    }

    .references{
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #eee;

        margin-left: 0;
        list-style-type: none;
        li{
            margin: 0;
            padding: 0;
            display: inline-block;
            padding-top: 4rem;
            margin-top: -4rem;
            
            &::before{
                counter-increment: references;
                content: counter(references) ". ";
            }
        }
    }

    ol.references li:target, sup.reference:target{
        background-color: transparent;
    }
}