main.page-content{

    .page__container{
        @include make-row();

        max-width: 1000px;
        margin: 0 auto;
    }

    .page__body{
        background-color: white;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
        padding: 3rem;

        float: left;
        width: 94%;
    }

    .page__tools{
        float: left;
        width: 6%;

        padding-left: 1rem;
        padding-top: 2rem;

        .tool{
            $toolSize: 3rem;

            @mixin colorTool($color){
                border: 2px solid $color;
                color: $color;
                &:hover{
                    color: white;
                    background-color: $color;

                    transition: all .1s linear;
                }
                transition: all .1s linear;
            }

            &--view{
                @include colorTool($green);
            }

            &--ve-edit{
                @include colorTool($yellow);
            }

            &--download-pdf{
                @include colorTool($red);
            }

            &--advanced{
                @include colorTool($black-secondary);
            }

            background-color: white;
            border-radius: 50%;

            display: block;
            margin-bottom: 1rem;
            text-align: center;
            height: $toolSize;
            width: $toolSize;
            position: relative;

            box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
            &:hover{
                text-decoration: none;
            }

            &__icon{
                font-size: 1.25rem;
                position: absolute;

                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

    }
    .page__title{
        margin-bottom: 1rem;
        text-align: center;
    }

    .page__text{
        font-size: 13pt;
        line-height: 1.5em;

        p:empty {
            display: none;
        }

        p:last-of-type{
            margin-bottom: 0;
        }

        .mwe-math-fallback-image-display{ //margin at the bottom of formulas
            margin-bottom: 1rem;
        }

        .mw-editsection{ //hide [Edit | Edit Wikitext]
            display: none;
        }


        h2, h3, h4, h5, h6{
            font-weight: 300;
        }
    }

    .page__breadcrumb{
        text-align: center;

        a{
            color: $green;
        }

        .breadcrumb__divider{
            margin: 0 0.15rem;
        }
    }

    .page__categories{
        #catlinks{
            text-align: right;
            margin-top: 1rem;
        }
    }
}
