main.page-content{

    .page__body{
        max-width: 1000px;
        margin: 0 auto;

        background-color: white;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
        
        padding: 2rem;
    }
    
    .page__title{
        text-align: center;
    }

    .page__text{
         p:last-of-type{
            margin-bottom: 0;
        }
    }
}
