.title {
    
    background-color: #f8f8fb;
    padding: $pages-home-content-padding;
    

    @include media-breakpoint-up(sm) {
        @include make-container();
        @include make-container-max-widths();
    }
    h1 {
        font-weight: lighter;
        margin-bottom: 0;
        text-align: center;

        @include media-breakpoint-between(lg, xl) {
            font-size: $pages-home-landing-title-font-size - .5rem;
        }

        @include media-breakpoint-between(md, lg) {
            font-size: $pages-home-landing-title-font-size - .7rem;
        }

        @include media-breakpoint-between(sm, md) {
            font-size: $pages-home-landing-title-font-size - .9rem;
        }
    }
}

.departments {
    background-color: #f8f8fb;

    &__content {
        display: block;
        list-style: none;

        @include make-container();
        @include media-breakpoint-up(sm) {
            @include make-container-max-widths();
        }
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    &__wrapper{
        display: block;

        /*@include make-col-ready($gutter: $pages-home-grid-gutter-width-departments);
        @include make-col(3);

        @include media-breakpoint-down(md) {
            @include make-col-ready($gutter: $pages-home-grid-gutter-width-departments/2);
        }*/

        @include media-breakpoint-down(xs) {
            margin: .5rem 0;

            @include make-col-ready($gutter: 0);
            @include make-col(12);
        }

        @include media-breakpoint-up(sm) {
            float: left; //we have to do this since bootstrap does not allow 5cols per row
            width: 20%;
            padding: 0 0.5rem;
            padding-bottom: 1rem;
        }
    }

    &__item {
        background-color: #fafafa;
        border-radius: $border-radius;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
        display: inline-block;
        text-align: center;
        width: 100%;
        overflow: hidden;
        transition: 0.3s ease-in all;
        &:hover:not(.disabled){
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16), 0 2px 6px 0 rgba(0,0,0,0.12);
            transition: 0.3s ease-in all;
            cursor: pointer;
        }
    }

    &__image{
        border-radius: 2px;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid #fafafa;

        &.disabled{
            filter: grayscale(100%);
        }
    }

    &__name{
        color: $black;
        display: inline-block;
        font-size: 1.3rem;
        font-weight: lighter;

        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
        }
    }

    ul{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.join-us {

    &__content{
        position: relative;
        background-color: white;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
        border-radius: $border-radius;
        padding: 1.5rem 2rem;
        min-height: 100%;
    }
    
    &__text{
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    &__stats{
        text-align: center;
        margin-bottom: 5rem;
        .stats__count{
            font-weight: 600;
            font-size: 1.2rem;
        }

        .stats__divider{
            display: inline-block;
            padding: 0rem 0.5rem;
        }
    }

    &__link {
        background-color: $green;
        border-radius: $border-radius;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: $pages-home-join-us-link-font-size;
        padding: 0.5rem 0;
        text-align: center;
        
        position: absolute; //stick to bottom
        bottom: 1.6rem;
        left: 2rem;
        right: 2rem;
        @include media-breakpoint-down(md) {
            font-size: $pages-home-join-us-link-font-size - .2rem;
        }
        

        &:hover, &:focus {
            color: white;
            text-decoration: none;
            background-color: darken($green, 2%)
        }
    }
}

.media {
    
    background-color: #f8f8fb;

    &__content{
        padding: $pages-home-content-padding;
        
        @include media-breakpoint-down(xs) {
            @include make-container($gutter: 0)
        }
        @include media-breakpoint-up(sm) {
            @include make-container();
            @include make-container-max-widths();
        }
        
        display: block;
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
    
    &__videocolumn{
        @include media-breakpoint-up(lg) {
            flex: 0 0 percentage(2/3);
        }
    }
    
    &__videowrapper{
        @include aspect-ratio(16, 9);
        border-radius: $border-radius;
        overflow: hidden;
        position: relative;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px; // TODO: remove hard coded values
        
    }

    &__video {
        border: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__description{
        margin-top: 1rem;

        @include media-breakpoint-down(xs) {
            margin-top: 0;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            flex: 0 0 percentage(1/3);
            padding-left: 1rem;
        }
    }
}

.testimonials {
    background-color: white;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    
    &__content{
        @include make-container();
        @include media-breakpoint-up(sm) {
            @include make-container-max-widths();
        }
        
        padding: $pages-home-content-padding;
        text-align: center;
    }

    &__read-more {
        @extend .btn;
        @extend .btn-outline-green;
        margin-top: 1.5rem;
    }
}
.testimonial {
    @extend .media;

    margin-top: 0;
    padding-right: 0;

    background-color: white;
    
    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col(4);
    }

    &__link {
        display: table-cell;
        padding-right: $pages-home-testimonial-link-padding;
        vertical-align: top;
    }

    &__image {
        display: block;
        border-radius: $border-radius;
        width: 3.5rem;
        @include media-breakpoint-up(lg) {
            width: 5rem;
        }
    }

    &__body {
        @extend .media-body;

        text-align: justify;
    }

    &__quote {
        @extend .blockquote;
        
        font-size: 1rem;
        border-left-color: $green;
        border-left-width: 2px;
        font-style: italic;

        @include media-breakpoint-between(md, lg) {
            font-size: .8rem;
        }
    }

    &__footer {
        @extend .blockquote-footer;
    }
}

.contributors{
    
    &__content{
        @include make-container();
        @include media-breakpoint-up(sm) {
            @include make-container-max-widths();
        }

        padding: $pages-home-content-padding;
    }

    &__title{
        text-align: center;
        margin-bottom: 1rem;
        font-weight: lighter;
    }

    &__list{
        display: block;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        text-align: center;
        
        @include clearfix;
        @include media-breakpoint-up(sm) {
            max-width: 40%;
        }

        .row:first-of-type{
            margin-bottom: 2rem;
        }
    }
    
    &__item {
        padding: .5rem;

        @include make-col-ready();
        @include make-col(4);

        @include media-breakpoint-down(xs) {
            @include make-col(6);
        }

        img {
            height: 4rem;
        }
    }
}

.sponsors {
   
    &__list {
        display: block;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    &__item {
        @include make-col-ready();
        @include make-col(6);
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }

        img {
            @extend .img-fluid;
        }
    }

    .clearfix {
        padding-bottom: 3rem
    }
}