.container-departments {
    padding-bottom: 1rem;

    .departments {
        @extend .container;

        .wrapper-department{
            @include make-col-ready(sm);
            @include make-col(3);

            margin: 0.5rem 0;
        }

        .department {
            background-color: white;
            text-align: center;
            box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;

            border-radius: $border-radius;

            .department-image{
                height: 100%;
                width: 100%;
                border-radius: 2px;
            }

            .department-name{
                display: inline-block;

                line-height: 0;
                color: $black;

                font-size: 1.5rem;
                font-weight: lighter;
            }
        }
    }
}

#container-join-us {
    padding: 1rem;

    background-color: white;
    text-align: center;

    box-shadow: 0 1px 3px rgba(0,0,0,0.15);

    .description{
        font-size: 1.75rem;
        font-weight: 300;
        font-family: "Roboto Slab";
        margin-bottom: 1rem;
    }

    .this-week{
        margin-top: 1rem;
    }

    #link-join-us {
        display: inline-block;

        padding: 0.5rem 7rem;

        font-size: 1.5rem;

        background-color: $green;
        color: white;

        border-radius: $border-radius;

        cursor: pointer;

        &:hover{
            color: white;
            text-decoration: none;
        }

    }
}

.landing-title {
    padding-top: 7rem;
    padding-bottom: 5rem;
    text-align: left;
    @extend .container;

    h1 {
        font-size: 3.5rem;
        margin-bottom: 0;
        font-weight: lighter;
    }
}

.videos {
    @extend .container;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .video {
        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
        text-align: center;

        iframe {
            width: 100%;
        }
    }
}

.testimonials {
    @extend .container;
    padding-top: 5rem;
    text-align: center;

    .testimonial {
        margin-top: 0;
        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }
        @extend .media;

        img {
            border-radius: $border-radius;
            width: 5rem;
        }

        .media-body {
            text-align: justify;

            blockquote {
                font-size: 1rem;
                @extend .blockquote;
            }
            footer {
                @extend .blockquote-footer;
            }
        }
    }

    .read-more {
        margin: 5rem auto;
        @extend .btn-outline-green;
    }
}

.sponsors {
    @extend .container;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .image {
        @include make-col-ready(xl);
        @include make-col(6);
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }

        img {
            @extend .img-fluid;
        }
    }

    .clearfix {
        padding-bottom: 3rem
    }

}

#hero{
    text-align: center;

    #biglogo{
        display: inline-block;
        height: 10rem;
        vertical-align: middle;
    }

    #claim{
        display: inline-block;

        text-align: left;
        vertical-align: middle;

        font-size: 3rem;
        font-weight: 500;

        color: #666666;

        margin-left: 1rem;

        h1, h2, h3{
            margin: 0;
        }
    }

}
