.title {
    padding: 2rem 0;

    text-align: left;

    @extend .container;

    h1 {
        font-weight: lighter;
        margin-bottom: 0;
        text-align: center;

        @include media-breakpoint-between(lg, xl) {
            font-size: 2rem;
        }

        @include media-breakpoint-between(md, lg) {
            font-size: 1.8rem;
        }
    }
}

.section-departments {
    padding-bottom: 1.5rem; //should be 2 but 0.5 is from the margin-bottom of the deps

    .departments {
        @extend .container;

        &__wrapper{
            @include make-col-ready(sm);
            @include make-col(3);

            margin: 0.5rem 0;

            &__item {
                background-color: white;
                border-radius: $border-radius;
                box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
                text-align: center;

                .item__image{
                    border-radius: 2px;
                    height: 100%;
                    width: 100%;
                }

                .item__name{
                    color: $black;
                    display: inline-block;
                    font-size: 1.5rem;
                    font-weight: lighter;
                    line-height: 0;
                }
            }
        }
    }
}

.section-join-us {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    
    &__content{
        @extend .container;
        
        text-align: center;

        padding: 2rem 0;

        &__description{
            font-family: "Roboto Slab";
            font-size: 1.75rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }

        &__this-week{
            margin-top: 1rem;
        }

        &__link {
            background-color: $green;
            border-radius: $border-radius;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-size: 1.5rem;
            padding: 0.5rem 7rem;

            &:hover{
                color: white;
                text-decoration: none;
            }
        }
    }
}

.section-video {
    
    &__content {        
        @extend .container;
        
        padding: 2rem 0;
        

        &__video{
            @include make-col-ready(xl);
            @include make-col(8);
        }

        &__description{
            @include make-col-ready(xl);
            @include make-col(4);
            
            h3{
                font-size: 2rem;
                font-weight: lighter;
            }

            .button-container{
                text-align: right;

                button{
                    margin-top: 1rem;
                    margin-right: 0.25rem;

                    background-color: $green;
                    border-radius: $border-radius;
                    color: white;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 1.1rem;
                    padding: 0.5rem;
                    outline: 0;
                    border: 0;
                }
            }
        }   
    }
    /*&__item {
        text-align: center;

        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }

        iframe {
            width: 100%;
        }
    }*/
}

.section-divider{
    background-color: white;
}

.testimonials {
    padding-top: 5rem;
    text-align: center;

    @extend .container;

    &__button--read-more {
        margin: 5rem auto;
        @extend .btn-outline-green;
    }
}

.testimonial {
    margin-top: 0;

    @extend .media;

    @include make-col-ready(xl);
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col(4);
    }

    &__link {
        display: table-cell;
        padding-right: $link-padding;
        vertical-align: top;
    }

    &__image {
        display: block;
        border-radius: $border-radius;
        width: 5rem;
    }

    &__body {
        text-align: justify;
        @extend .media-body;
    }

    &__quote {
        font-size: 1rem;
        @extend .blockquote;
    }

    &__footer {
        @extend .blockquote-footer;
    }
}


.sponsors {
    padding-bottom: 5rem;
    padding-top: 5rem;

    @extend .container;

    &__item {
        @include make-col-ready(xl);
        @include make-col(6);
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }

        img {
            @extend .img-fluid;
        }
    }

    .clearfix {
        padding-bottom: 3rem
    }
}

#hero{
    text-align: center;

    #biglogo{
        display: inline-block;
        height: 10rem;
        vertical-align: middle;
    }

    #claim{
        color: #666666;
        display: inline-block;
        font-size: 3rem;
        font-weight: 500;
        margin-left: 1rem;
        text-align: left;
        vertical-align: middle;
        
        h1, 
        h2, 
        h3{
            margin: 0;
        }
    }
}
