.title {
    padding: $content-padding;

    text-align: left;

    @extend .container;

    h1 {
        font-weight: lighter;
        margin-bottom: 0;
        text-align: center;

        @include media-breakpoint-between(lg, xl) {
            font-size: $font-size-landing-title - .5rem;
        }

        @include media-breakpoint-between(md, lg) {
            font-size: $font-size-landing-title - .7rem;
        }

        @include media-breakpoint-between(sm, md) {
            font-size: $font-size-landing-title - .9rem;
        }
    }
}

.departments {
    padding-bottom: 1.5rem; //should be 2 but 0.5 is from the margin-bottom of the deps

    &__content {
        @extend .container;
        display: block;
        list-style: none;
    }

    &__wrapper{
        display: block;
        margin: 0.5rem 0;

        @include make-col-ready($gutter: $grid-gutter-width-departments);
        @include make-col(3);

        @include media-breakpoint-down(md) {
            @include make-col-ready($gutter: $grid-gutter-width-departments/2);
        }
    }

    &__item {
        background-color: white;
        border-radius: $border-radius;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
        text-align: center;
    }

    &__image{
        border-radius: 2px;
        height: 100%;
        width: 100%;
    }

    &__name{
        color: $black;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 0;
        @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
        }
    }
}

.join-us {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    
    &__content{
        @extend .container;
        
        text-align: center;

        padding: $content-padding;
    }

    &__this-week{
            margin-top: 1rem;
    }

    &__link {
        background-color: $green;
        border-radius: $border-radius;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: $join-us-font-size;
        padding: 0.5rem 7rem;

        @include media-breakpoint-down(md) {
            font-size: $join-us-font-size - .2rem;
        }

        &:hover, &:focus {
            color: white;
            text-decoration: none;
        }
    }
}

.media {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @extend .container;

    &__wrapper{
        overflow: hidden;
        padding-bottom: 33.33%;
        padding-top: 2rem;
        position: relative;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px; // TODO: remove hard coded values
        
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    &__video {
        border: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__description{
        @include make-col-ready();
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }

        @include media-breakpoint-down(lg) {
            font-size: .8rem; // TODO: make text aligned with video
        }
    }   

    &__title{
        font-size: 1.95rem;
        font-weight: 300;
        font-family: "Roboto Slab"
    }
    
    &__text{
        margin: 0;
    }
    
    &__button{
        background-color: $green;
        border-radius: $border-radius;
        border: 0;
        color: white;
        cursor: pointer;
        display: table;
        @include media-breakpoint-down(lg) {
            font-size: .8rem;
        }
        margin: 1rem auto;
        outline: 0;
        padding: 0.5rem;
    }

}

.testimonials {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    
    &__content{
        padding: $content-padding;
        text-align: center;

        @extend .container;
    }

    &__read-more {
        @extend .btn;
        @extend .btn-outline-green;
        margin-top: 1.5rem;
    }    
}

.testimonial {
    margin-top: 0;
    padding-right: 0;

    @extend .media;

    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col(4);
    }

    &__link {
        display: table-cell;
        padding-right: $link-padding;
        vertical-align: top;
    }

    &__image {
        display: block;
        border-radius: $border-radius;
        width: 3.5rem;
        @include media-breakpoint-up(lg) {
            width: 5rem;
        }
    }

    &__body {
        text-align: justify;
        @extend .media-body;
    }

    &__quote {
        @extend .blockquote;
        
        font-size: 1rem;
        border-left-color: $green;
        border-left-width: 2px;
        font-style: italic;

        @include media-breakpoint-between(md, lg) {
            font-size: .8rem;
        }
    }

    &__footer {
        @extend .blockquote-footer;
    }
}


.sponsors {
    @extend .container;
    padding: $content-padding; //15px to get it in line with the deps

    &__list {
        display: block;
        list-style: none;
    }

    &__item {
        @include make-col-ready();
        @include make-col(6);
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }

        img {
            @extend .img-fluid;
        }
    }

    .clearfix {
        padding-bottom: 3rem
    }
    
}