.container-departments {
    padding-bottom: 1rem;

    .departments {
        @extend .container;

        &--wrapper{
            @include make-col-ready(sm);
            @include make-col(3);

            margin: 0.5rem 0;

            &__item {
                background-color: white;
                border-radius: $border-radius;
                box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
                text-align: center;

                .item__image{
                    border-radius: 2px;
                    height: 100%;
                    width: 100%;
                }

                .item__name{
                    color: $black;
                    display: inline-block;
                    font-size: 1.5rem;
                    font-weight: lighter;
                    line-height: 0;
                }
            }
        }
    }
}

.join-us {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    padding: 1rem;
    text-align: center;

    &__description{
        font-family: "Roboto Slab";
        font-size: 1.75rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    &__this-week{
        margin-top: 1rem;
    }

    &__link {
        background-color: $green;
        border-radius: $border-radius;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 1.5rem;
        padding: 0.5rem 7rem;

        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}

.landing-title {
    padding-bottom: 5rem;
    padding-top: 7rem;
    text-align: left;

    @extend .container;

    h1 {
        font-size: 3.5rem;
        font-weight: lighter;
        margin-bottom: 0;
    }
}

.videos {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @extend .container;

    .video {
        text-align: center;

        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }

        iframe {
            width: 100%;
        }
    }
}

.testimonials {
    padding-top: 5rem;
    text-align: center;

    @extend .container;

    .testimonial {
        margin-top: 0;

        @extend .media;

        @include make-col-ready(xl);
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }

        img {
            border-radius: $border-radius;
            width: 5rem;
        }

        .media-body {
            text-align: justify;

            blockquote {
                font-size: 1rem;
                @extend .blockquote;
            }

            footer {
                @extend .blockquote-footer;
            }
        }
    }

    .read-more {
        margin: 5rem auto;
        @extend .btn-outline-green;
    }
}

.sponsors {
    padding-bottom: 5rem;
    padding-top: 5rem;

    @extend .container;

    .image {
        @include make-col-ready(xl);
        @include make-col(6);
        @include media-breakpoint-up(sm) {
            @include make-col(3);
        }

        img {
            @extend .img-fluid;
        }
    }

    .clearfix {
        padding-bottom: 3rem
    }
}

#hero{
    text-align: center;

    #biglogo{
        display: inline-block;
        height: 10rem;
        vertical-align: middle;
    }

    #claim{
        color: #666666;
        display: inline-block;
        font-size: 3rem;
        font-weight: 500;
        margin-left: 1rem;
        text-align: left;
        vertical-align: middle;
        
        h1, 
        h2, 
        h3{
            margin: 0;
        }
    }
}
