.title {
    padding: $content-padding;

    text-align: left;

    @extend .container;

    h1 {
        font-weight: lighter;
        margin-bottom: 0;
        text-align: center;

        @include media-breakpoint-between(lg, xl) {
            font-size: 2rem;
        }

        @include media-breakpoint-between(md, lg) {
            font-size: 1.8rem;
        }
    }
}

.section-departments {
    padding-bottom: 1.5rem; //should be 2 but 0.5 is from the margin-bottom of the deps

    .departments {
        @extend .container;

        &__wrapper{
            margin: 0.5rem 0;

            @include make-col-ready(sm);
            @include make-col(3);
        }

        &__item {
            background-color: white;
            border-radius: $border-radius;
            box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
            text-align: center;
        }

        &__image{
            border-radius: 2px;
            height: 100%;
            width: 100%;
        }

        &__name{
            color: $black;
            display: inline-block;
            font-size: 1.5rem;
            font-weight: lighter;
            line-height: 0;
        }
    }
}

.section-join-us {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    
    &__content{
        @extend .container;
        
        text-align: center;

        padding: $content-padding;
    }

    &__this-week{
            margin-top: 1rem;
    }

    &__link {
        background-color: $green;
        border-radius: $border-radius;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 1.5rem;
        padding: 0.5rem 7rem;

        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}

.section-video {
    
    &__content {        
        @extend .container;
        
        padding: $content-padding; //15px to get it in line with the deps
         
    }

    &__video{
        @include make-col-ready(xl);
        @include make-col(8);

        .embed-responsive{
            box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
        }
    }

    &__description{
        @include make-col-ready(xl);
        @include make-col(4);
    }   

    &__title{
        font-size: 1.95rem;
        font-weight: 300;
        font-family: "Roboto Slab"
    }
    
    &__text{
        margin: 0;
    }
    
    &__button-container{
        text-align: right;

        button{
            margin-top: 1rem;

            background-color: $green;
            border-radius: $border-radius;
            color: white;
            cursor: pointer;
            display: inline-block;
            font-size: 1.1rem;
            padding: 0.5rem;
            outline: 0;
            border: 0;
        }
    }

}

.section-testimonials {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    
    &__content{

        @extend .container;
        padding: $content-padding;

        text-align: center;

        &__read-more {
            @extend .btn-outline-green;
            margin-top: 1.5rem;
        }
    }
    
}

.testimonial {
    margin-top: 0;

    @extend .media;

    @include make-col-ready(xl);
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col(4);
    }

    &__link {
        display: table-cell;
        padding-right: $link-padding;
        vertical-align: top;
    }

    &__image {
        display: block;
        border-radius: $border-radius;
        width: 5rem;
    }

    &__body {
        text-align: justify;
        @extend .media-body;
    }

    &__quote {
        font-size: 1rem;
        @extend .blockquote;
    }

    &__footer {
        @extend .blockquote-footer;
    }
}


.section-sponsors {

    &__content{

        @extend .container;
        padding: $content-padding; //15px to get it in line with the deps

        &__item {
            @include make-col-ready(xl);
            @include make-col(6);
            @include media-breakpoint-up(sm) {
                @include make-col(3);
            }

            img {
                @extend .img-fluid;
            }
        }

        .clearfix {
            padding-bottom: 3rem
        }
    }
}