.page-join .why__content{
    padding: $pages-home-content-padding;
        
    @include media-breakpoint-down(xs) {
        @include make-container($gutter: 0)
    }
    @include media-breakpoint-up(sm) {
        @include make-container();
        @include make-container-max-widths();
    }
    padding-top: 1rem;
    .why__title{
        margin-bottom: 1rem;
        font-size: 2.5rem;
        text-align: center;
    }
    .reason{
        display: flex;

        background-color: white;
        border-radius: $border-radius;
        box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
        margin-bottom: 1rem;
        overflow: hidden;
        &__image{
            flex: 0 0 percentage(1/4);
            
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__content{
            padding: 1rem 1.5rem;
            flex: 0 0 percentage(3/4);
        }

        &__title{
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        &__text{
            font-size: 1.1rem;
            line-height: 1.5rem;
        }

        &__more{
            text-align: right;
            a{
                color: $green;
                font-weight: 600;
            }
        }
    }
   
}

.page-join .create-account{
    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
}

.page-join .create-account__content{
    padding: $pages-home-content-padding;
        
    @include media-breakpoint-down(xs) {
        @include make-container($gutter: 0)
    }
    @include media-breakpoint-up(sm) {
        @include make-container();
        @include make-container-max-widths();
    }
    text-align: center;
    
    padding-top: 3rem;
    padding-bottom: 3rem;

    .create-account__subtext{
        margin-bottom: 0.5rem;
    }

    a{
        display: inline-block;
        width: 60%;
        padding: 0.5rem 3rem;
        background-color: $green;
        color: white;
        border-radius: $border-radius;
        font-size: 1.5rem;
        &:hover{
            background-color: darken($green, 2%);
            text-decoration: none;
        }
    }
}

.page-join .next-steps__content{
    padding: $pages-home-content-padding;
        
    @include media-breakpoint-down(xs) {
        @include make-container($gutter: 0)
    }
    @include media-breakpoint-up(sm) {
        @include make-container();
        @include make-container-max-widths();
    }
        
    .steps{
        display: flex;
    }

    .step{
        
        

        &__wrapper{
            margin: 1rem 0.5rem;
            box-shadow: rgba(0,0,0,0.1) 0px 1px 3px;
            background-color: white;
            border-radius: $border-radius;
            overflow: hidden;
            position: relative;
            height: 100%;
        }

        flex: 0 0 percentage(1/3);


        &__image{
            border-radius: $border-radius;
            overflow: hidden;
            img{
                width: 100%;
            }
        }

        &__content{
            padding: 1rem;
            padding-top: 0.5rem;

            p{
                margin-bottom: 1.5rem;
            }

            a{
                color: $green;
            }
        }

        &__button{
            position: absolute;
            padding: 0.5rem;
            left: 1rem;
            right: 1rem;
            bottom: 1rem;
            color: white;
            font-weight: 600;
            border-radius: $border-radius;
            background-color: $green;
            display: block;
            text-align: center;
            &:hover{
                background-color: darken($green, 2%);
                text-decoration: none;
            }
        }
    }
}