body{
    
    [class^="ve-"], [class^="oo-"], [class^="mw-"]{
        box-sizing: content-box;
    }

    &.mw-special-CreateAccount{ //register page
        .mw-ui-container {
            display: flex;

            #userloginForm{
                flex: 1;
                float: none;
                margin-right: 2rem;
            }

            .mw-createacct-benefits-container{
                flex: 1;
            }
        }
    }
    
    &.mw-special-Search{ //search page
        
        .searchresults{
            margin: 1rem 0;

            h2{
                margin-top: 1rem;
            }
        }

        
        #searchText{
            max-width: 100%;
            input.oo-ui-inputWidget-input{
                box-sizing: border-box;
                width: 100%;
            }
        }

        #searchText+div{
            margin-top: 0.5rem;
        }

        .mw-search-exists{
            
            border-bottom: 1px solid silver;
            display: block;
            font-size: 2.5rem;
            line-height: 2.5rem;

            padding-bottom: 1rem !important; //sorry

            b{
                font-weight: lighter;
            }
        }
        
        .mw-search-results{
            padding-left: 0rem;
            display: block;
            width: 100%;

            li{

                border: 1px solid silver;
                border-radius: $border-radius;
                display: block;
                padding: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    #mw-prefs-form {
        border: 1px solid #eee;
        border-radius: $border-radius;
        padding: 1rem;

        fieldset{
            margin-bottom: 1rem;
        }

        .mainLegend{
            display: none;
        }
        
        table{
            margin-left: 1rem;
            tr .mw-label{
                text-align: left;
                font-weight: 600;
                label{
                    margin-bottom: 0;
                }
            }
            
            label{
                display: inline;
            }
        }

        .mw-prefs-buttons{
            input[type="submit"]{
                background-color: $mwblue;
                border: 0;
                border-radius: 2px;
                color: white;
                outline: 0;
                padding: .5em 2em;
                
            }
        }
    }


    &.action-edit, &.action-submit{
        .editButtons{
            input[type="submit"]{
                background-color: $mwblue;
                border: 0;
                border-radius: 2px;
                color: white;
                outline: 0;
                padding: .5em 2em;
            }
        }
    }

    .mw-ui-button{
        max-width: 100%;
    }

    .mw-ui-vform{
        width: auto;
    }

    #mw-content-text{
        //this is to fix float:left on SSection
        //this is actually our fault
        //but as long as we don't change the SSection template
        //we have to deal with the issue like this
        
        &::after{
            content: " ";
            clear: both;
            display: block;
        }
    }

    //visual editor
    .ve-ui-overlay{
        z-index: 10;
        font-size: 0.8em;

        & .oo-ui-fieldLayout-body{ //https://phabricator.kde.org/T3956
            display: block; //why? because it works
        }

        meta.mwe-math-fallback-image-inline { //https://phabricator.kde.org/T3955
            display: inline-block;
        }
    }
    
    .ve-ui-toolbar-floating > .oo-ui-toolbar-bar {
        top: 3rem;
    }

    // Mediawiki hack: they  use a tag <meta> that contains math
    // We ensure that this tag is displayed correctly everytime
    meta.mwe-math-fallback-image-display {
        display: block;
        margin: 0 auto;
    }
    meta.mwe-math-fallback-image-inline,  {
        display: inline-block;
    }

    //collection
    .collection-creatorbox{
        padding: 0;
        margin: 0;
        border: 0;
    }

    &.mw-special-Book{
        
        #mw-collection-title-table{
            width: 100%;
        }

        #mw-collection-title-form{ //let's align the labels on the left
            .mw-label{
                text-align: left;
            }
        }
        
        #coll-downloadbox{
            h2{
                margin-top: 0;
            }
        }
        
        #collectionListContainer{
            #collectionList{
                padding-left: 0;
                margin-bottom: 0;

                li{
                    cursor: move;
                    border-bottom: 1px solid #eee;
                }

                .title{ //they give the page names in the "reorder" section the "title" class, which conflicts with bootstrap...
                    background-color: transparent;
                    max-width: none;
                    padding: 0;
                    margin: 0;
                    margin-left: 0;
                }
            }

        }
        #coll-orderbox{ //it does not work, let's not display
            display: none;
        }
    }
    
    .tdg-editscreen-main{
        &-helplink a .oo-ui-labelElement-label{
            color: $mwblue !important;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .tdg-templateDataDialog-paramDetails{
        .oo-ui-labelElement-label{
            width: auto !important;
        }
    }

    .progress-bar{
        border-radius: $border-radius;
        text-align: center;
        color: white;
    }
}