.courseroot{
    &__description{
        border-left: 3px solid #ddd;
        margin-bottom: 1rem;
        padding: 0.5em 10px;
    }

    &__edit{
        display: none;
    }
    
    &__content{
        &::after{
            display: block;
            content:  " ";
            clear: both;
        }
    }

    &__metadata{
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: 1px solid #eee;
        text-align: right;
    }
}

.section, .courseleveltwo{
    box-sizing: border-box;
    
    margin-bottom: 0.75rem;
    padding-left: 0;
    
    @include media-breakpoint-up(lg) {
        width: 50%;
        float: left;
        padding-right: 1rem;
    }

    &__heading{
        position: relative;

        padding-bottom: 0.3rem;
        padding-left: 0.5rem;
        margin-bottom: 0.25rem;
        
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    
    &__text{
        margin-top: 0.25rem;
    }

    h2{
        display: inline;
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
    
    h2+a{ //edit icon
        position: absolute;
        right: 0;
        top: 0.6rem;
        color: #333;
    }
    
    ul{
        margin-top: 0;
        list-style-type: circle;
        margin-left: 1.5rem;
        padding-left: 0.5rem;
    }

}

.section{
    h2{
        display: block;
    }
}

.courseleveltwo{
    .courseleveltwo__title::before{
        font-size: 1.75rem;
        counter-increment: courseleveltwo;
        content: counter(courseleveltwo) ". ";
    }
}

.citation{
    //https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
    blockquote {
        border-left: 3px solid #ddd;
        margin: 1.5em 0;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        
        font-style: italic;

        small{
            display: block;
            font-style: normal;
            text-align: right;
        }
    }

    blockquote:before {
        color: #ddd;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    
}

.infobox{
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    
    border: 1px solid $dark-green;
    border-left: 3px solid $dark-green;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #fafafa;

    i{
        color: $dark-green;
        margin-right: 1rem;
    }

    a{
        color: $dark-green;
        font-weight: bold;
    }
}

.warningbox{
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    
    border: 1px solid $yellow;
    border-left: 3px solid $yellow;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #fafafa;

    i{
        color: $yellow;
        margin-right: 1rem;
    }

    a{
        color: $yellow;
        font-weight: bold;
    }
}


.forcebreak{
    display: block;
    clear: both;
    content: " ";
}

.template.coursebackend{
    padding: 1rem;
    margin-bottom: 1rem;
    
    border: 1px solid #eee;
    border-radius: 0.25rem;

    .coursebackend__title{
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .coursebackend__download{
        display: none;
    }

    .coursebackend__description{
        padding-left: 0.25rem;
    }
}

.template.topic{

}

.tdg-editscreen-main{
    &-helplink a .oo-ui-labelElement-label{
        color: $mwblue !important;
        &:hover{
            text-decoration: underline;
        }
    }
}

.environmentcontent{
    padding-left: 0.5rem;
    border-left: 1px solid #eee;

    p:last-of-type{
        margin-bottom: 0;
    }

    .beginenvironment{
        margin-top: 0.5rem;
    }
    .endenvironment{
        margin-bottom: 0.5rem;
    }
}

.endenvironment{
    margin-bottom: 1rem;
}