.ssection{    
    counter-increment: ssection; 
    margin-bottom: 0.75rem;
    box-sizing: border-box;
    
    padding-left: 0;

    &__heading{
        margin-bottom: 0.25rem;

        padding-bottom: 0.25rem;   
        padding-left: 0.5rem;        
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    h2{
        display: inline;
        margin-right: 0.5rem;

        /*&::before{
            content: counter(ssection)"." ;
            font-size: 1.25rem;
            margin-right: 0.25rem;
        }*/
    }
    
    a.external.text{
        color: #333;
    }

    h2+a{
        vertical-align: text-bottom;
    }
    
    ul{
        margin-top: 0;
        list-style-type: none;
        margin-left: 0.75rem;
    }

}

.ccourse{
    margin-top: -1.25rem;

    &__edit{
        margin-bottom: 1rem;
    }

    &__metadata{
        text-align: right;
    }
}

.citation{
    
    //https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/

    blockquote {
        border-left: 3px solid #ddd;
        
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        
        font-style: italic;

        small{
            display: block;
            font-style: normal;
            text-align: right;
        }
    }

    blockquote:before {
        color: #ddd;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    
}