.dropdown-menu{
    line-height: 1.75rem;

    .dropdown-item{
        &.active{
            background-color: #f3f3f3;
            color: $black;
        }    
    }
    
    @include media-breakpoint-down(xs) {
        position: fixed;
        left: 0;
        right: 0;
        top: auto;
        width: 100%;
    }

    &.left{
        left: auto;
        margin: 0;
        right: 0;
    }
}