.dropdown-menu{
    .dropdown-item{
        &.active{
            background-color: #eee;
            color: $black;
        }    
    }
    
    @include media-breakpoint-down(xs) {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
    }

    &.left{
        left: auto;
        margin: 0;
        right: 0;
    }
}