.multitool {
    position: relative;
    margin-bottom: 0;
    
    @include media-breakpoint-down(xs) {
        display: inline-block;    
    }

    &.active {
        ul {
            visibility: visible;
            list-style-type: none;
        }
    }

    &.horizontal {
        ul {
            text-align: right;
            right: 3.5rem;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            left: auto;
            width: 500px; /*width 100% only goes to width of button container */
            
            li {
                display: inline-block;
                padding-top: 0.35rem;
                margin-left: 0.25rem;
            }
        }
    }

    ul {
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        bottom: 64px;
        margin: 0;
        visibility: hidden;
        
        padding: 0;
    }
}