.text-wtl-green{
    color: $green;
}

.text-wtl-dark-green{
    color: $dark-green;
}

.text-wtl-yellow{
    color: $yellow;
}

.text-wtl-red{
    color: $red;
}

.text-wtl-dark-red{
    color: $dark-red;
}

