$dark-red: #83001F;
$red: #db3e14;
$yellow: #ffbc31;
$green: #69b140;
$dark-green: #00613a;

$gray: #f7f7f7;
$black-secondary :#34373c;

$chartcolors: $dark-red, $red, $yellow, $green, $dark-green;
$small-chart-colors: $red, $yellow, $green;

$lighter-green: lighten($green, 35);


$black: #333;
