@mixin make-random-color {
   $red: random(256)-1; 
   $green: random(256)-1; 
   $blue: random(256)-1;
   $alpha: random(100)/100;
   color: rgb($red, $green, $blue); 
   background-color: rgba($red, $green, $blue, $alpha);
   border: 2px solid $red;  

}

@mixin animate-bottom-border($color) {
    display: inline-block;

    &:hover {
        &:after {
            width: 100%;
            background-color: $color;
        }
    }

    &:after {
        content: '';
        width: 0;
        display: block;
        height: 0.2rem;
        background-color: transparent;
        transition: width .5s ease, background-color .5s ease;
    }

}

@mixin colorListBorder($size) {
  @for $i from 1 through $size {
    &:nth-child(#{$size}n+#{$i}) {
      border-color: nth($chartcolors, $i);
    }
  }
}

@mixin debug {
    @include make-random-color;
    box-sizing: border-box;
}
