$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: "Roboto Slab", serif;

@font-face {
    font-family: DinC;
    src: url(../../fonts/DinC.ttf);
}

@font-face {
    font-family: AleoRegular;
    src: url(../../fonts/Aleo-Regular.otf);
}

@font-face {
    font-family: AleoItalic;
    src: url(../../fonts/Aleo-Italic.otf)
}

@font-face {
    font-family: AleoLight;
    src: url(../../fonts/Aleo-Light.otf)
}
