$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: "Roboto Slab", serif;

@font-face {
    font-family: DinC;
    src: url(../../fonts/DinC.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(../../fonts/Aleo-Regular.otf);
}