// Overridden bootstrap's variables

$container-max-widths: (
    xs: 0,
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px,
    xxl: 1300px,
    xxxl: 2000px
);

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
    xxxl: 2000px    
);

// Custom variables

$border-radius: .15rem;
$link-padding: .75rem;
$footer-logo-padding: 5rem;
$content-padding: 2rem 15px;

