// Overridden bootstrap's variables

$container-max-widths: (
    xs: 0,
    sm: 576px,
    md: 720px,
    lg: 940px,
    xl: 1140px,
    xxl: 1300px,
    xxxl: 2000px
);

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
    xxxl: 2000px    
);

$grid-gutter-width: 2rem;

// Custom variables
// TODO: structure them like the folders

$base-border-radius: .15rem;

$pages-home-landing-title-font-size: 2.5rem;
$pages-home-join-us-link-font-size: 1.5rem;
$pages-home-content-padding: 2rem 0.5rem;
$pages-home-testimonial-link-padding: .75rem;
$pages-home-grid-gutter-width-departments: $grid-gutter-width / 2;

$layout-footer-logo-padding: 5rem;