#hero{
    text-align: center;

    #biglogo{
        display: inline-block;
        height: 10rem;
        vertical-align: middle;
    } 

    #claim{
        display: inline-block;

        text-align: left;
        vertical-align: middle;
        
        font-size: 3rem;
        font-weight: 500;

        color: #666666;

        margin-left: 1rem;

        h1, h2, h3{
            margin: 0;
        }
    }

}
