#hero{
    text-align: center;

    #biglogo{
        height: 8rem;
        display: inline-block;

        vertical-align: middle;
    } 

    #claim{
        display: inline-block;

        text-align: left;
        vertical-align: middle;

        margin-left: 1rem;

        h1, h2, h3{
            margin: 0;
        }
    }
}
